/*顶部广告*/
.top-show{
    width: 1349px;
    height: 120px;
    background: url("../images/top.jpg")no-repeat center;
}
/*top*/
#top{width: 100%;height: 40px;background: #333;}
.top{width: 1226px;height: 40px;margin: 0 auto;}
/*left*/
.top-left{width: 427px;height: 40px;float: left;}
.top-left li{float: left; font-size: 12px;line-height: 40px;padding:0 9px 0 8px;
    background: url("../images/top_03.jpg") no-repeat right;
}
.top-left li a{display: block;height: 40px;color: #b0b0b0;}
.top-left li a:hover{
    color: white;
}
.top-left .top-left-first{padding-left: 0;}
.top-left .top-left-last{background: none;}
/*right*/
.top-right{float: right;width: 305px;height: 40px;position: relative}
.top-right li{float: left;padding:0 9px 0 8px;font-size: 12px;line-height: 40px;
    background: url("../images/top_03.jpg") no-repeat right;}
.shop-car{
    position: absolute;
    right: 0;
}
.top-right li a{display: block;height: 40px;color: #b0b0b0;}
.top-right li a:hover{
    color: white;
}
.top-right .top-right-last{background: 0;}
.top-right .shop-car{
    background: #424242;
    width: 120px;
    text-align: center;
}
.top-right .shop-car:hover{
    background: white;
}
.top-right .shop-car a:hover{
    color: #ff6700;
}
/*nav*/
.nav{width: 1226px;height: 100px;margin: 0 auto;background: #fff;position: relative}
.logo{width: 207px;padding-top: 22px;float: left;}
.nav-center{width: 650px;float: left;margin-left: 10px;}
.nav-center li{float: left;height: 80px;line-height: 100px;padding-right: 20px;}
.nav-center-first{margin-left: 25px;}
.nav-center li a{font-size: 16px;color: #333;}
.nav-center li a:hover{
    color: #ff6700;
}
.btn{width: 323px;float: left;position: absolute;right: 0}
.btn-text{
    width: 245px;
    height: 48px;
    margin: 25px 0 0 13px;
    background: #fff;
    float: left;
    border: 1px solid #e0e0e0;
    border-right: none;
    padding-left: 10px;
}
.search-input{
    position: relative;
}
.search-list{
    position: absolute;
    top: 76px;
    left: 13px;
    width: 255px;
    border: 1px #eee solid;
    border-top: none;
    display: none;
    z-index: 3;
    background: white;
}
.search-list ul{
    height: 28px;
}
.search-list ul:hover{
    cursor: pointer;
    background: #f4f3f3;
}
.search-list  li{
    float: left;
    font-size: 12px;
    color: #666;
    padding: 5px;
}
.search-list ul li:last-child{
    padding-left: 155px;
    color: #ccc;
}
.search-btn{
    position: relative;
}
.btn-sub{
    width: 52px;
    height: 50px;
    border-left: none;
    border: 1px solid #e0e0e0;
    float: left;
    margin-top: 25px;
}
.icon-fangdajing{
    position: absolute;
    top: 43px;
    left: 288px;
}
.btn:hover .btn-text{
    border-color: #666;
}
.btn:hover .btn-sub{
    border-color: #666;
}
/*banner*/
.swiper-container {
    position: relative;
    width: 1226px;
    height: 460px;
    overflow: hidden;
    margin: 0 auto;
}
.swiper-slide img {
    float: left;
    width: 1226px;
    height: 460px;
}
.swiper-container .swiper-button-prev{
    position: absolute;
    left: 270px;
}
.menu{
    width: 234px;
    height: 460px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(95,87,80,0.5);
    z-index: 1;
}
.menu li{width: 180px;height: 40px;line-height: 40px;}
.menu-first{padding-top: 30px;}
.menu li a{display: block; color: #f5ffd9;font-size: 12px;width: 204px;height: 40px;padding-left: 30px;}
.menu li a:hover{background: #ff6700;}
.menu-second .list{width: 270px;height: 460px; background: #fff;position: absolute;left: 234px;top: 0;display: none;}
.menu-second .list li{float: left;width: 234px;height: 77px;}
.menu-second .list a{display: block; color: black;width: 234px;height: 76px; line-height: 76px;}
.menu .menu-second:hover .list {display: block;}
.menu .menu-second .list li:hover a{color: orange;display: block;width: 234px;background: #fff;}
/*case*/
.case{width: 1226px;height: 228px;background: white;margin: 0 auto;}
.case-left{width: 234px;height: 170px;background: #5f5750;margin-top:14px;float: left;}
.case-left li {width: 66px;height: 75px; float:left;padding-left: 9px;margin-top: 5px;}
.case-left li a{padding-top: 40px;display: block;color: #cdcac8;font-size: 12px;}
.case-left li:nth-child(1){background: url("../images/case1_03.jpg") no-repeat center 10px;}
.case-left li:nth-child(2){background: url("../images/case1_03.jpg") no-repeat center 10px;}
.case-left li:nth-child(3){background: url("../images/case1_03.jpg") no-repeat center 10px;}
.case-left li:nth-child(4){background: url("../images/case1_03.jpg") no-repeat center 10px;}
.case-left li:nth-child(5){background: url("../images/case1_03.jpg") no-repeat center 10px;}
.case-left li:nth-child(6){background: url("../images/case1_03.jpg") no-repeat center 10px;}
.case-right img{float: left;margin: 14px 0 0 14px;}
/*star*/
.star{width: 1226px;height: 420px;margin: 0 auto;}
.star-top{width: 1226px;height: 40px;background: #fff;}
.star-top h2{width: 1154px;height: 40px;float: left;color: #333;font-size: 22px;line-height: 20px;text-align: left}
.star-btn{width: 72px;height: 34px;float: left; padding-top: 6px;}
/*左右按键*/
.star-btn .btn-l{width: 34px;height: 24px;border: 1px solid #e0e0e0;float: left;}
.star-btn .btn-r{width: 34px;height: 24px;border: 1px solid #e0e0e0;border-left: 0;float: right;}
.star {width: 1226px;height: 380px;text-align: center;}
.icon-xiangzuo{
    color: #e8e3e0
}
.icon-xiangyou{
    color: #b0b0b0
}
/*闪购计时*/
.star-bottom{
    width: 234px;
    height: 340px;
    float: left;
}
.star-first{
    height: 340px;
    background: #f1eded;
    border-top: 1px solid #e53935;
    margin-right: 14px;
}
.star-first img{
    display: inline-block;
    width: 34px;
    height: 53px;
    margin: 0 auto;
}
.time-title{
    height: 46px;
    margin-top: 56px;
    color: #e53935;
    font-size: 20px;
}
.sub-time{
    height: 22px;
    color: #706f6f;
    font-size: 14px;
    margin: 33px 0 33px;
}
.count-time li{
    float: left;
}
.count-time li:first-child{
    border-top: 0;
    background: #605751;
    margin-left: 33px;
}
.count-time .box{
    width: 46px;
    height: 46px;
    margin-right: 0;
    background: #605751;
    color: #fff;
    font-size: 18px;
    line-height: 46px;
}
.count-time .dash{
    width: 15px;
    height: 46px;
    margin-right: 0;
    color: #605751;
    line-height: 46px;
}
.star-wrapper{
    width: 992px;
    height: 380px;
    float: right;
    overflow: hidden;
    position: relative;
}
.wrapper-list{
    width: 1800px;
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper-list li{width: 234px;height: 340px;background: #fafafa;float: left;margin-right:18px;}
.wrapper-list .last{margin-right:0;}
.wrapper-list li:nth-child(5){
    margin-left: 18px;
}
.wrapper-list img{margin: 40px auto}
.wrapper-list h2{font-size: 12px;color: #212121;line-height: 12px;padding-top: 51px;}
.wrapper-list p{font-size: 12px;color: #c0b0b0;line-height: 12px;padding-top:12px; }
.wrapper-list span{font-size: 12px;color: #ff6709;line-height: 12px;padding-top:20px;}
/*home-banner*/
.home-banner{
    width: 1226px;
    height: 120px;
    margin: 42px auto 0;
    overflow: hidden;
}
.home-banner img{
    width: 1226px;
    height: 120px;
}
/*产品区*/
#main-home{
    width: 100%;
    background: #f5f5f5;
    overflow: hidden;
}
.main-home{
    width: 1226px;
    height: 6774px;
    margin: 0 auto;
    overflow: hidden;
}
/*手机*/
/*.phone{*/
    /*width: 1226px;*/
    /*height: 708px;*/
/*}*/
/*头部*/
.phone-top{
    height: 80px;
    position: relative;
}
.show-prd .title{
    color: #333;
    font-size: 22px;
    padding-top: 40px;
}
.phone-more{
    width: 92px;
    height: 39px;
    position: absolute;
    right: 0;
    top: 40px;
}
.phone-more a{
    color: #424242;
    font-size: 16px;
}
.phone-more i{
    color: #b0b0b0;
    font-size: 20px;
}
.phone-more a:hover{
    color: #ff6700;
}
.phone-more a:hover i{
    color: #ff6700;
}
/*产品展示*/
.row{
    width: 1240px;
    height: 628px;
}
.row-star{
    width: 234px;
    height: 614px;
    float: left;
    margin-bottom: 14px;
}
.row-star:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transform:translateY(-5px);<!--向上移动5px； -->
    overflow: hidden;
    transition:all 0.3s ease;
}
.row-star-another{
    width: 234px;
    height: 614px;
    float: left;
    margin-bottom: 14px;
}
.row-star-another .row-top{
    margin-top:14px;
}
.row-product{
    width: 992px;
    height: 628px;
    float: left;
}
.row-list li{
    width: 234px;
    height: 300px;
    margin: 0 0 14px 14px;
    background: #fff;
    float: left;
}
.row-list li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transform:translateY(-5px);
    transition:all 0.3s ease;
}
.row-list img{margin: 40px auto}
.row-list h2{
    font-size: 12px;
    color: #212121;
    line-height: 12px;
    padding-top: 10px;
    text-align: center
}
.row-list p{
    font-size: 12px;
    color: #c0b0b0;
    line-height: 12px;
    padding-top:12px;
    text-align: center
}
.row-list span{
    font-size: 12px;
    color: #ff6709;
    line-height: 12px;
    padding-top:20px;
    text-align: center;
    display: block
}
.row-list-anther li{
    width: 234px;
    height: 300px;
    margin: 0 0 14px 14px;
    background: #fff;
    float: left;
}
.row-list-anther .brick-item-s{
    width: 234px;
    height: 143px;
    background: #fff;
    position: relative;
}
/*更多内容*/
.brick-item-s .figure-img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 34px;
    left: 135px;
}
.brick-item-s .figure-img img{
    margin: 0;
}
.brick-item-s .title-s{
    width: 94px;
    height: 21px;
    position: absolute;
    top: 43px;
    left: 31px;
}
.brick-item-s .title-s a{
    font-size: 12px;
    color: #333;
}
.brick-item-s .price{
    width: 94px;
    height: 21px;
    position: absolute;
    top: 70px;
    left: 31px;
    padding: 0;
    text-align: left;
}
.brick-item-s .price a{
    font-size: 12px;
    color: #ff6700;
}
.brick-item-s .figure-more{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 45px;
    left: 150px;
}
.brick-item-s .icon-xiangyou2{
    font-size: 58px;
    color: #ff6700;
}
.brick-item-s .more{
    display: block;
    width: 94px;
    height: 45px;
    position: absolute;
    top: 53px;
    left: 29px;
    color: #333;
    font-size: 18px;
}
.brick-item-s .more small{
    width: 94px;
    height: 18px;
    display: block;
    color: #757575;
    font-size: 12px;
}
.row-list-anther .row-img img{
    margin: 0;
}
.row-list-anther img{
    margin: 40px auto;
}
.row-list-anther h2{
    font-size: 12px;
    color: #212121;
    line-height: 12px;
    padding-top: 10px;
    text-align: center;
}
.row-list-anther p{
    font-size: 12px;
    color: #c0b0b0;
    line-height: 12px;
    padding-top:12px;
    text-align: center;
}
.row-list-anther span{
    font-size: 12px;
    color: #ff6709;
    line-height: 12px;
    padding-top:20px;
    text-align: center;
    display: block;
}
/*家电*/
.machine-top{
    position: relative;
    height: 80px;
}
.machine-more{
    width: 281px;
    height: 38px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.machine-more li{
    margin-left: 28px;
    font-size: 16px;
    color: #424242;
    float: left;
}
/*鼠标滑过设置class为active*/
.show-prd .active{
    padding-bottom: 4px;
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
/*.machine-more li:hover{*/
    /*padding-bottom: 4px;*/
    /*color: #ff6700;*/
    /*border-bottom: 2px solid #ff6700;*/
/*}*/
/*鼠标滑过第二种样式*/
.row-star-another li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transform:translateY(-5px);
    transition:all 0.3s ease;
}
.row-list-anther .hidden{
    width: 234px;
    height: 0;
    position: absolute;
    bottom: 0;
    background:#ff6700;
}
.row-list-anther .hidden h4{
    font-size:15px;
    font-weight:normal;
    color:#fff;
    margin-top:10px;
    text-align:center;
}
.row-list-anther .hidden h5{
    font-size:13px;
    font-weight:normal;
    color:#fff;
    margin-top:8px;
    text-align:center;
}
.row-list-anther li:hover .hidden{
    height: 70px;
    bottom: 0;
    transition:all 0.3s ease;
}
.row-list-anther li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transform:translateY(-5px);
    transition:all 0.3s ease;
}
/*智能*/
.zhineng-more{
    width: 326px;
    height: 38px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.zhineng-more li{
    margin-left: 28px;
    font-size: 16px;
    color: #424242;
    float: left;
}