#shop_header {
  width: 100%;
  height: 102px;
  border-bottom: 2px solid #ff6700;
}
#shop_header .shop_header {
  width: 1226px;
  height: 74px;
  margin: 0 auto;
}
#shop_header .shop_header .header_logo {
  width: 93px;
  height: 48px;
  padding-top: 26px;
  float: left;
}
#shop_header .shop_header .header_logo img {
  width: 48px;
  height: 48px;
}
#shop_header .shop_header .header_title {
  width: 491px;
  height: 48px;
  float: left;
  padding-top: 26px;
}
#shop_header .shop_header .header_title h2 {
  width: 140px;
  height: 48px;
  color: #424242;
  font-size: 28px;
  line-height: 48px;
  float: left;
}
#shop_header .shop_header .header_title p {
  color: #757575;
  font-size: 12px;
  width: 336px;
  height: 20px;
  margin: 20px 0 0 15px;
  float: left;
}
#shop_header .shop_header .topbar-info {
  width: 72px;
  height: 40px;
  margin-top: 30px;
  float: right;
}
#shop_header .shop_header .topbar-info a {
  display: inline-block;
  width: 24px;
  height: 40px;
  font-size: 12px;
  color: #757575;
}
#shop_header .shop_header .topbar-info .sep {
  color: #e0e0e0;
  font-size: 12px;
}
#carMain {
  width: 100%;
  min-height: 1086px;
  padding: 30px 0;
  background: #f5f5f5;
}
#carMain .carMain {
  width: 1226px;
  min-height: 1086px;
  margin: 0 auto;
}
#carMain .carMain .carBox {
  width: 1226px;
  margin: 0 auto;
}
.car_empty{
  width: 668px;
  height: 273px;
  padding-left: 558px;
  margin: 65px 0 130px 0;
  background: url(../images/cart-empty.png)no-repeat 120px 0;
  display: none;
}
.car_empty h2{
  width: 668px;
  height: 54px;
  margin: 100px 0 15px;
  font-size: 36px;
  color: #b0b0b0; 
  font-weight: 1000;
}
.car_empty .login_desc{
  width: 668px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #b0b0b0;
}
.car_empty .login_btn{
  display: inline-block;
  width: 170px;
  height: 48px;
  margin-right: 10px;
  background: #ff6700;
  color: #fff;
  line-height: 48px;
  text-align: center;
  border: 1px solid #ff6700;
}
.car_empty .shopping_btn{
  display: inline-block;
  width: 170px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #ff6700;
  border: 1px solid #ff6700;
}
#carMain .carMain .carBox .carMain_hd {
  width: 1226px;
  height: 70px;
  background: #fff;
}
#carMain .carMain .carBox .carMain_hd .cartTop {
  width: 1226px;
  height: 70px;
}
#carMain .carMain .carBox .carMain_hd .cartTop li {
  float: left;
  height: 70px;
  line-height: 70px;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_chk {
  width: 110px;
  height: 70px;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_chk .borser_origin {
  width: 16px;
  height: 16px;
  border: 1px solid #e0e0e0;
  margin: 0 15px 0 24px;
  padding-left: 3px;
  cursor: pointer;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_chk .border_icon {
  width: 16px;
  height: 16px;
  border: 1px solid #f25807;
  margin: 0 15px 0 24px;
  background: #f25807;
  cursor: pointer;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_chk .iconfont {
  color: #fff;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_img {
  width: 120px;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_con {
  width: 380px;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_price {
  width: 75px;
  padding-right: 84px;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_amount {
  width: 150px;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_sum {
  width: 70px;
  padding-right: 81px;
}
#carMain .carMain .carBox .carMain_hd .cartTop .list_op {
  width: 80px;
}
#carMain .carMain .carBox .cartBox {
  width: 1226px;
  background: #fff;
}
#carMain .carMain .carBox .cartBox .order_content {
  width: 1226px;
  height: 86px;
  padding: 15px 26px 15px 0;
  border-top: 1px solid #e0e0e0;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists {
  width: 1226px;
  height: 86px;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists li {
  float: left;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_chk {
  width: 110px;
  height: 26px;
  padding: 30px 0;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_chk .borser_origin {
  width: 16px;
  height: 16px;
  border: 1px solid #e0e0e0;
  margin: 0 15px 0 24px;
  cursor: pointer;
  padding: 0 3px;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_chk .border_icon {
  width: 18px;
  height: 18px;
  border: 1px solid #f25807;
  margin: 0 15px 0 24px;
  padding: 0 3px;
  background: #f25807;
  cursor: pointer;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_chk .iconfont {
  color: #fff;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_img {
  width: 120px;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_img img {
  width: 80px;
  height: 80px;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_con {
  width: 380px;
  height: 26px;
  padding: 30px 0;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_con a {
  font-size: 18px;
  color: #424242;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_price {
  width: 75px;
  padding-right: 84px;
  height: 26px;
  padding: 30px 0;
  font-size: 16px;
  color: #424242;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_amount {
  width: 150px;
  height: 46px;
  padding: 20px 0;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_amount .amount_box {
  width: 150px;
  height: 40px;
  border: 1px solid #e0e0e0;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_amount .amount_box a {
  display: block;
  width: 38px;
  height: 38px;
  float: left;
  text-align: center;
  line-height: 38px;
  color: #757575;
  font-size: 20px;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_amount .amount_box .sum {
  width: 72px;
  height: 38px;
  display: block;
  float: left;
  border: none;
  text-align: center;
  line-height: 38px;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_sum {
  width: 120px;
  height: 86px;
  padding-right: 81px;
  text-align: right;
  line-height: 86px;
  color: #ff6700;
  font-size: 16px;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_op {
  width: 80px;
  height: 46px;
  padding: 20px 0;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_op a {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 50px;
}
#carMain .carMain .carBox .cartBox .order_content .order_lists .list_op i {
  font-size: 12px;
  color: #757575;
}
#carMain .carMain .carBox .bar-wrapper {
  width: 1226px;
  height: 50px;
  margin-top: 30px;
  background: #fff;
}
#carMain .carMain .carBox .bar-wrapper .section_left {
  width: 282px;
  height: 50px;
  float: left;
}
#carMain .carMain .carBox .bar-wrapper .section_left .backShop {
  text-align: right;
  margin-left: 32px;
  color: #757575;
  font-size: 14px;
  line-height: 50px;
}
#carMain .carMain .carBox .bar-wrapper .section_left .cart_total {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #eee;
  font-size: 14px;
  color: #757575;
}
#carMain .carMain .carBox .bar-wrapper .section_left .cart_total i {
  color: #ff6700;
}
#carMain .carMain .carBox .bar-wrapper .btn_primary {
  display: block;
  width: 200px;
  height: 48px;
  float: right;
  text-align: center;
  line-height: 48px;
  margin-left: 50px;
  background: #f25807;
  color: #fff;
  font-size: 18px;
}
#carMain .carMain .carBox .bar-wrapper .total_price {
  padding-left: 13px;
  color: #ff6700;
  float: right;
}
#carMain .carMain .carBox .bar-wrapper .total_price .cartTotalPrice {
  font-size: 30px;
}
/*猜你喜欢*/
.guss_like{
  width: 1226px;
  height: 693px;
  margin-top: 60px;
}
.guss_title{
  width: 1226px;
  height: 50px;
  border-top: 1px solid #e0e0e0;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #757575;
  position: relative;
}
.guss_title span{
  position: absolute;
  top: -20px;
  left: 372px;
  height: 40px;
  width: 482px;
  line-height: 40px;
  text-align: center;
  display: block;
  background-color: #f5f5f5;
}
.guss_shop{
  width: 1226px;
  height: 628px;
  position: relative;
}
.guss_row{
  width: 1240px;
  height: 628px;
  /* padding: 0 0 14px 14px; */
  position: absolute;
  left: -14px;
}
.guss_list{
  float: left;
  width: 234px;
  height: 300px;
  margin: 0 0 14px 14px;
  background: #fff;
}
.guss_list dl{
  width: 194px;
  height: 280px;
  padding: 0 20px;
}
.guss_list dl dt{
  width: 194px;
  height: 145px;
  padding: 40px 0 15px 0;
  margin: 0;
}
.guss_list .guss_img a{
  margin: 0 auto;
  width: 140px;
  height: 140px;
  display: block;
}
.guss_list .guss_img a img{
  width: 140px;
  height: 140px;
}
.guss_list .guss_name{
  width: 194px;
  height: 18px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.guss_list .guss_name a{
  font-size: 14px;
  color: #333;
}
.guss_list .guss_price{
  width: 194px;
  height: 21px;
  margin-bottom: 10px;
  color: #ff6700;
  font-size: 14px;
  text-align: center;
}
.guss_list .guss_tips{
  width: 194px;
  height: 21px;
  text-align: center;
  font-size: 12px;
  color: #757575;
  position: relative;
}
.guss_list:hover .guss_tips .btn_add{
  display: block;
}
.guss_list .guss_tips .btn_add{
  width: 120px;
  position: absolute;
  left: 37px;
  top: 0;
  border:1px solid #ff6700;
  background: #fff;
  color: #ff6700;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  display: none;
}
.guss_list .guss_tips .btn_add:hover{
  background: #ff6700;
  color: #fff;
}
/*删除操作*/
body{
  position: relative;
}
.model_bg{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  z-index: 999;
  display: none;
}
.my_model{
  position: fixed;
  display: none;
  top:0;
  left: 50%;
  margin-left: -160px;
  z-index: 9999;
  width: 380px;
  height: 170px;
  padding: 60px 60px 40px;
  background: #fff;
}
.my_model .title{
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    color: #424242;
    text-align: center;
    width: 380px;
    height: 130px;
}
.my_model .title .closeModel{
  float: right;
  cursor: pointer;
}
.my_model .opBtn{
  width: 380px;
  height: 40px;
}
.my_model .opBtn a{
  width: 158px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  display: inline-block;
  margin: 0 7px;
}
.my_model .dialog-sure{
  background: #ff6700;
  color: #fff;
  /* border: 1px solid #52a0e5; */
}
.my_model .dialog-close{
  background: #b0b0b0;
  color: #fff;
}